body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000000;
  font-size: 13px;
  line-height: 1;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/*** Customize scroll-bar ***/
.custom-scroll-bar {
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #F2F2F2 #FFFFFF; /* scroll thumb and track */
}

/* Chrome, Edge, and Safari */
.custom-scroll-bar::-webkit-scrollbar {
   width: 7px;
   background-color: #FFFFFF;
}

.custom-scroll-bar::-webkit-scrollbar-track {
   border-radius: 7px;
   background-color: #FFFFFF;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #F2F2F2;
}
/*** End customize scroll-bar ***/

button {
  background-color: #d9d2e9;
  border: 1px solid #000000;
  border-radius: 20px;
  transition: .3s ease;
  cursor: pointer;
  padding: 5px 12px;
  margin: 0 auto;
}

button:hover {
  background-color: #9771EC;
  color: #F2F2F2;
  border-color: #9771EC;
}

button:focus {
  outline: none;
}
