.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000000;
  font-size: 14px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/*** Customize scroll-bar ***/
.custom-scroll-bar {
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #F2F2F2 #FFFFFF; /* scroll thumb and track */
}

/* Chrome, Edge, and Safari */
.custom-scroll-bar::-webkit-scrollbar {
   width: 7px;
   background-color: #FFFFFF;
}

.custom-scroll-bar::-webkit-scrollbar-track {
   border-radius: 7px;
   background-color: #FFFFFF;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #F2F2F2;
}
/*** End customize scroll-bar ***/

button:focus {
  outline: none;
}
