.app-main {
    display: flex;
}

.posts-container {
    overflow: hidden;
    height: calc(100vh - 120px);
    padding: 30px 10px 10px 30px;
}

.posts {
    padding-right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 670px) {
    .posts-container {
        height: calc(100vh - 140px);
    }
}
