.app-main {
    display: flex;
}

.posts-container {
    flex-basis: 80%;
    overflow: hidden;
    height: calc(100vh - 120px);
    padding: 30px 10px 10px 30px;
}

.posts {
    padding-right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
