.sidebar {
    min-width: 85px;
    width: 20%;
    max-width: 200px;
    padding: 30px 10px;
    height: calc(100vh - 55px);
    background-color: #d9ead3;
    text-align: center;
}

.stats {
    background-color: #fff2cc;
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    max-width: 130px;
    margin: 30px auto;
}

.stats-item {
    margin: 10px 0;
}
