.sidebar {
    min-width: 115px;
    flex-basis: 20%;
    max-width: 200px;
    padding: 30px 10px 10px 10px;
    height: calc(100vh - 120px);
    background-color: #d9ead3;
    text-align: center;
}

.stats {
    background-color: #fff2cc;
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    max-width: 110px;
    margin: 30px auto;
}

.stats-item {
    margin: 10px 0;
}

@media (max-width: 670px) {
    .sidebar {
        height: calc(100vh - 140px);
    }
}
