.sidebar {
    min-width: 85px;
    width: 20%;
    max-width: 200px;
    padding: 30px 10px;
    height: calc(100vh - 55px);
    background-color: #d9ead3;
    text-align: center;
}
.add-new-posts-btn, .submit-btn {
    background-color: #d9d2e9;
    border: 1px solid #000000;
    border-radius: 20px;
    transition: .3s ease;
    cursor: pointer;
    padding: 5px 12px;
    margin: 0 auto;
}

.add-new-posts-btn:hover,
.submit-btn:hover {
    background-color: #9771EC;
    color: #F2F2F2;
    border-color: #9771EC;
}

.stats {
    background-color: #fff2cc;
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    max-width: 130px;
    margin: 30px auto;
}

.stats-item {
    margin: 10px 0;
}
