.post-container {
    border: 1px solid gray;
    border-radius: 30px;
    width: 230px;
    min-width: 180px;
    height: 300px;
    overflow-y: hidden;
    margin: 15px 20px;
    background-color: #fce5cd;
}

.post-header {
    padding: 5px 10px;
    border-bottom: 1px solid gray;
    text-align: right;
}

.post-body-wrap {
    padding: 10px;
}

.post-btn {
    background-color: #cfe2f3;
    padding: 5px 15px;
}

.post-btn:first-child {
    margin-right: 10px;
}

.post-btn:hover {
    background-color: #3a9bf1;
    color: #F2F2F2;
    border-color: #3a9bf1;
}

.post-title {
    font-size: 15px;
    font-weight: 600;
    text-transform: lowercase;
    margin-bottom: 20px;
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-body {
    margin-bottom: 20px;
    height: 155px;
    overflow: hidden;
}

.post-user {
    text-align: right;
    text-transform: capitalize;
    font-style: italic;
}

.post-title:first-letter,
.post-body:first-letter {
    text-transform: uppercase;
}

